/* ----------------register----------------------- */
.register{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5))
        /* ,url("https://media.istockphoto.com/id/1352170879/photo/white-gray-gradient-room-background.jpg?s=612x612&w=0&k=20&c=556JIHJ4nFH4gGbO3oF8-C0A7DVmtU26_WDIAo441IA="); */
        ,url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
}

/* ----------------register title--------------------- */
.registerTitle{
    font-size: 40px;
    display: block;
    margin: 0 auto;
}

/* ----------------register form----------------------- */
.registerForm{
    display: flex;
    flex-direction: column;
    
    box-shadow: 5px 5px 9px 4px black;
    padding: 15px;
    margin-top: 5px;

    width: 233px;
}

.registerForm > label{
    margin: 10px 5px;
}

.registerInput{
    background-color: white;
    border: 1px solid gray;
    /* border-radius: 0px; */
    padding: 10px;
}

.registerButton{
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 5px;
    margin: 15px 0;

    border: 3px solid black;
}

.registerButton:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    border: 3px solid black;
}


/* --------------------------------------- */
.registerLoginButton{
    color: blue;
    font-size: 16px;
    font-weight: 150;
    text-decoration: none;
    margin: auto;
}

.registerLoginButton:hover{
    text-decoration: underline;
}

/* --------------------------------------- */
