@media screen and (max-width:778px) {
    /* .top{
        flex-direction: column;
    } */
    
    /* ---------topCenter--------------- */
    .topCenter{
        background-color: rgb(205, 201, 201);
        border: 2px solid black;

        position: absolute;
        top: 55px;
        width: 99.45%;

        display: none;
    }
    .topList{
        flex-direction: column;
        width: 200px;
        width: 100%;
        /* margin: auto; */
        padding: 0;
    }
    .topListItem{
        /* display: block; */
        margin: 3px 0;
    }

    .topListItem a{
        padding: 2px 5px;
        width: inherit;
    }

    .visible{
        display: block;
    }

    /* -----------top right---------- */
    /* .topRight{
        justify-content:flex-end;
    } */

    /* ---------menu--------- */
    .menu{
        display: block;
    }
}